<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer detection & Classification</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/button.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
        integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>


</head>

<body>

    <!-- Navigation bar -->
    <nav class="nav-bar">
        <div class="logo"> <a href="/">Cancer detection & Classification</a></div>
        <div class="nav-links">
            <a href="/manage"><i class="fa-solid fa-users" id="db-icon"></i>Manage Users</a>
            <a href="/records"><i class="fa-solid fa-database" id="db-icon"></i>Records</a>
            <a href="#"><i class="fa-solid fa-chart-simple" id="db-icon"></i></i>Model Statistics</a>
            <a href="/account"><i class="fa-solid fa-user-doctor" id="db-icon"></i>Account</a>
        </div>
    </nav>

    <!-- Container -->
    <div class="main">

        <div class="right-pane">

            <form action="/account" method="POST" enctype="multipart/form-data">

                <div class="account-div">
                    <div class="avatar"><i class="fa-solid fa-user" id="avatar-icon"></i></div>
                    <div class="account-details">
                        <p>Username: {{data["username"]}}</p>
                        <p>Created on: {{data["created_on"]}}</p>
                        <a href="/logout"><div class="logout_div">Log out</div></a>
                    </div>
                </div>

                <div class="change-pass-text-div">
                    <p>Change Password</p>
                </div>

                <!-- Sex -->
                <div class="sex-div">
                    <p>Old Password</p>
                    <input type="text" class="sex-field" name="old_password">
                </div>

                <!-- Age -->
                <div class="age-div">
                    <p>New Password</p>
                    <input type="text" class="age-field" name="new_password">
                </div>

                <p class="account_msg">Message: {{msg}}</p>

                <!--Upload button-->
                <input type="submit" class="button button-3d button-rounded" value="Change Password" id="password-btn">
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="{{url_for('static', filename='js/snowstorm.js')}}"></script>
    <script>
        snowStorm.snowColor = '#e6e6e6';   // blue-ish snow!?
        snowStorm.flakesMaxActive = 65;    // show more snow on screen at once
        snowStorm.useTwinkleEffect = false; // let the snow flicker in and out of view
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>